<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>{{cur_wish.sender}}</title>
		{% load static %}
		<link rel="stylesheet" href="{% static 'wishes/detail.css' %}">

	</head>
	<body>
		<header>
		<h1>Отправитель: {{cur_wish.sender}}</h1>
		</header>

		{% if cur_wish.image %}
			<img src="{{cur_wish.image.url}}" alt="Image">
		{% endif%}

                {% if cur_wish.wish_text %}
			<div id='wish_text'>
				{{cur_wish.wish_text}}
			</div>
                {% endif%}



		{%if cur_wish.audio%}
		 		<div id='voice'>голосовое сообщение:</div>
				<audio controls>
					<source src='{{cur_wish.audio.url}}' type='audio/mp3'>
					ur browser doesnt support this
				</audio>
		{% endif%}


		{%if cur_wish.video%}
			<video controls>
				<source src='{{cur_wish.video.url}}' type='video/mp4'>
				ur browser doesnt support this
			</video>
			{% endif%}

                <div id='navigation'>
			{% if next_id %}
				<a class='navbut' id='back' href="{% url 'wishes:detail' next_id %}">Назад</a>
			{%endif%}

			{% if prev_id%}
				<a class = 'navbut' id='next' href="{% url 'wishes:detail' prev_id %}">Далее</a>
			{%endif%}
		</div>

	</body>
</html>
