# Virtual environment
venv/
env/

*.sqlite3
*.db
db.sqlite3
media/
staticfiles/ 




.DS_Store
Thumbs.db

**/migrations/
**/migrations/__init__.py

__pycache__/
*.py[cod]
*.egg
*.egg-info/
dist/
build/
*.log


media/
